.services-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 1000px; /* Prevents the content from stretching too wide on large screens */
    margin: 20px auto; /* Centers the content on the page */
    padding: 10px;
    background: #193741; /* Dark background */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-names{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #facc37; /* Using the color you had for hover effects in the navbar for consistency */
    font-weight: bold;
}

.service-descriptions{
    color: #ffffff; /* Lighter color for contrast */
    line-height: 1.0; /* Improved readability */
}

.service-names:hover {
    text-decoration: underline;
    cursor: pointer;
}