.services-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    background: #1f1f1fb4;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-names{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #006674;
    font-weight: bold;
    text-decoration: none;
}

.service-descriptions{
    color: #ffffff;
    line-height: 1.0;
}

.service-names:hover {
    text-decoration: underline;
    cursor: pointer;
}

.providers-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    background: #1f1f1fb4;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.provider-name-rating-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.provider-names{
    margin-top: 10px;
    font-size: 20px;
    color: #006674;
    font-weight: bold;
}

.provider-rating{
    margin-left: 9px;
    color: #006674;
}

.star{
    margin-left: 5px;
}

.provider-descriptions{
    color: #ffffff;
    line-height: 1.0;
}

.provider-names:hover {
    text-decoration: underline;
    cursor: pointer;
}

.star-editing-div:hover{
    cursor: pointer;
}

.comment-container{
    display: flex;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 5px;
}

.provider-reviews-header{
    color: #c5c5c5;
}

.review-user {
    font-weight: bold;
    color: #006674;
}

.comment-header{
    display: flex;
    justify-content: left;
    width: 100%;
}

.comment-timestamp{
    color: #8d8d8d;
    font-size: 0.8rem;
    margin-left: 5px;
    margin-top: 3px;
}

.edit-delete-comment-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-text{
    font-size: 0.9rem;
    align-items: start;
    color: #ffffff;
}

.comment-edit{
    margin-left: 15px;
    margin-top: 10px;
    color: #8d8d8d;
    cursor: pointer;
}

.comment-delete{
    margin-left: 10px;
    margin-top: 10px;
    color: #8d8d8d;
    cursor: pointer;
}

.text-area-button-wrapper{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-star-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.star-span{
    margin-top: 14px;
}

#comment-edit-box{
    width: 200px;
    height: 60px;
}

.save-cancel-wrapper{
    display: flex;
    flex-direction: row;
}

.save-cancel-edit-buttons{
    margin-top: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
}

.save-cancel-edit-buttons:hover{
    color: #facc37
}

.write-review-button{
    margin-top: 5px;
    margin-bottom: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
}

.write-review-button:hover{
    color: #8d8d8d
}
.black-background-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 105%;
    height: 100%;
    background-color: black;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-top: 20px;

}

.location-button-container{
    display: flex;
    justify-content: center;
}

#location-search-button{
    margin-top: 20px;
    margin-right: 100px;
    background: none;
    border:none;
    color: #fff;
    cursor: pointer;
}

.zip-search-container{
    display: flex;
    flex-direction: row;
    margin-left: 158px;

}

#zip-search-input{
    margin-top: 20px;
    width: 25%;
}

#location-search-button{
    margin-left: 10px
}
