.dropdown-container{
    position: relative;
}

.account-dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1000;
}


.login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 190px;
}

#login-header{
    color: #006674;
}

#login-button{
    margin-left: 120px;
}

#error-handle{
    color: rgb(255, 70, 70)
}


button.nav-link {
    background: none;
    border: none;      
    padding: 0;        
    cursor: pointer;
    font-size: 15px;
    

}

button.nav-link:hover {
    color: #facc37;
}

.account-dropdown ul {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 50px;
    padding: 0;
    background-color:#1f1f1f;
}

.account-dropdown li {
    color: white;
    padding: 12px 16px;
    list-style-type: none;
    text-decoration: none;
    display: block;
    text-align: left;
}

.account-dropdown li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 12px;
}

.account-dropdown li a:hover{
    color: #facc37
}

.profile-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1750px;
}

.profile-information-div, .profile-reviews-div {
    display: flex;
    flex-direction: row;
}

.success-or-error-messages{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-right: 80px;
}

.menu-description{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}

.menu-description p {
    margin-top: -10px;
}

#edit-user-form, .profile-reviews-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
}

.profile-container{
    margin-top: 75px;
    width: 80%;
    border: 1px solid #4b4b4b;
    background-color:#161616;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 99%;
}

.input-group label{
    width: 100%; 
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    text-align: left;
}

.input-group input {
    width: 90%;
    border: 1px solid #ffffff;
    border-radius: 3px;
    height: 23px;
}

.input-button-wrapper{
    display: flex;
    align-items: center; 
    margin-bottom: 15px;
}



.hide-show-password-buttons{
    width: 25px;
    height: 20px;
    padding: 2px;
    margin-left: 3px;
    background: #fff;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.login-input-button-wrapper{
    display: flex;
    align-items: center;
    margin-top: 2px;
    
}

#login-hide-show-button{
    width: 20px;
    height: 18px;
    padding: 1px;
}

#save-changes-button{
    width: 80px;
    color: #ffffff;
    background-color: #006674;
    border: none;
    padding: 10px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
    margin-top: 5px;
}

#save-changes-button:hover {
    background-color: #008394; 
}

#save-changes-button:disabled {
    background-color: #b3c7dc;
    cursor: not-allowed;
}

.profile-review{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid #008394;
    width: 94%;
}