.login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 190px;
}

#login-header{
    color: #006674;
}

#login-button{
    margin-left: 120px;
}

#error-handle{
    color: red
}


button.nav-link {
    background: none;
    border: none;      
    padding: 0;        
    cursor: pointer;
    font-size: 15px;
    

}

button.nav-link:hover {
    color: #facc37;
}

.account-dropdown ul {
    margin: 10;
    padding: 0;
}

.account-dropdown li {
    padding: 8px 16px;
    list-style-type: none;
}

.account-dropdown li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 12px;
}

.account-dropdown li a:hover{
    color: #facc37
}

.profile-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.input-group label{
    width: 54.5%; 
    margin-bottom: 5px;
    text-align: right;
    margin-right: 10px;
    padding-right: 10px;
    
}

.input-group input {
    width: 16%;
    margin-left: 5px;
}